.App {
  text-align: center;
  min-height: 100vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.link-custom {
  color: #dd8b15;
}

.active-link {
  background-color: #dd8b15 !important;
  border-color:  #dd8b15 !important;
  z-index: 2;
  color: white;
}

a {
  color: #dd8b15;
}

a:hover {
  color: #81520f;
  text-decoration: underline;
}

.jumbotron {
  padding: 2rem;
  margin: auto;
}